{% extends "base.html" %}
{% block content %}
{% if facility_list==[] %}
<p>データがありません</p>
{% else %}
  <table border="1">
    <tr>
      <th>法人名</th>
      <th>事業所名</th>
      <th>メール</th>
      <th>電話番号</th>
      <th>ホームページ</th>
    </tr>
    {% for facility in facility_list %}
    <tr>
      <td>{{facility['houjin_name']}}</td>
      <td>{{facility['jigyousyo_name']}}</td>
      <td>{{facility['email']}}</td>
      <td>{{facility['phone']}}</td>
      <td>{{facility['website']}}</td>
    </tr>
    {% endfor %}
  </table>
  <form action="/download" method="post">
    <label for="csv">csv</label>
    <input type="radio" id="csv" name="download" value="csv">
    <label for="excel">excel</label>
    <input type="radio" id="excel" name="download" value="excel">
    <button type="submit">送信</button>
  </form>
{% endif %}



{% endblock %}